body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.mesonry-list {
  height: auto !important;
}
* {
  font-family: "Montserrat", sans-serif;
}
.resizer {
  display: none !important;
}
/* loader.scss */

.loader123 {
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  /* animation: spin123 1s linear infinite; */
}

@keyframes spin123 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media only screen and (min-width: 280px) and (max-width: 768px) {
  .about-banner-image {
    align-items: end !important;
    padding-bottom: 30%;
  }
  .content img {
    width: 100px !important;
  }
  .title {
    font-size: 30px !important;
  }
  .port-filter {
    padding: 0px !important;
    font-size: 14px;
    font-weight: 500;
    width: auto !important;
  }
}
.slick-arrow {
  display: none !important;
}
.inactive {
  opacity: 0;
}
.active {
  opacity: 1;
}
.right {
  transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.multi-spinner-container {
  height: 100vh;
}
#loading {
  position: absolute;
  left: calc(50% - 100px);
  top: calc(50% - 25px);
  z-index: 9999;
}
.uil-ripple {
  position: absolute;
  left: calc(50% - 90px);
  top: calc(50% - 90px);
  opacity: 0.5;
  z-index: 999;
}

.ld-l {
  opacity: 0;
  animation: ld-in 3s 0s ease infinite;
}
.ld-o {
  opacity: 0;
  animation: ld-in 3s 0.1s ease infinite;
}
.ld-a {
  opacity: 0;
  animation: ld-in 3s 0.2s ease infinite;
}
.ld-d {
  opacity: 0;
  animation: ld-in 3s 0.3s ease infinite;
}
.ld-i {
  opacity: 0;
  animation: ld-in 3s 0.4s ease infinite;
}
.ld-n {
  opacity: 0;
  animation: ld-in 3s 0.5s ease infinite;
}
.ld-g {
  opacity: 0;
  animation: ld-in 3s 0.6s ease infinite;
}

@keyframes ld-in {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  30% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
